@import url("style.css");

.dsc-card-total-container h3 {
  padding: 0 20px 10px 20px;
  font-family: var(--font-family);
  color: var(--dsc-color-font-secondary);
  text-align: left;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dsc-cart-item-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

#cart-container-section {
  padding: 20px 0;
}

.dsc-cart-item-left {
  display: flex;
}

.dsc-cart-item-quantity-container {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

.dsc-cart-item-quantity-container p {
  margin: 0 5px;
}

.dsc-cart-item-right {
  padding-bottom: 10px;
  color: var(--dsc-color-font-secondary);
  font-size: 12px;
  font-weight: 200;

  font-family: var(--font-family);
}

.dsc-cart-item-description {
  padding: 10px 0;
  color: var(--dsc-color-font-primary);
}

.dsc-cart-item-description h3 {
  font-size: 12px;
  font-weight: 700;
  font-family: var(--font-family);
}

.dsc-cart-item-quantity-btn {
  color: var(--dsc-color-btn-primary);
  cursor: pointer;
}

/* ----------------------Buttons styles------------------------*/
.brd-btn {
  padding: 5px 10px;
  border-radius: 10px; /* Borda redonda */
  background-color: #008000;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.brd-btn:hover {
  background-color: #005700;
}

.dsc-btn-white:hover {
  border: 1px solid var(--dsc-color-bg-secondary);
  color: var(--dsc-color-bg-secondary);
}

/* Midea*/
@media screen and (max-width: 400px) {
  .tamanho-min {
    width: 100px; /* Largura da imagem */
    height: 63px; /* Altura da imagem */
  }
}

@media screen and (min-width: 576px) {
  .dsc-cart-item-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .dsc-cart-item-right {
    padding-top: 10px;
  }

  .dsc-card-total-container h3{
    text-align: right;
  }
}
