@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap");

.card-total-container h3 {
  padding: 0 20px 10px 20px;
  font-size: 16px;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #0caf1d;
  text-align: right;
}
.cart-item-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

#cart-container {
  padding: 20px 0;
}

.cart-item-left {
  display: flex;
}

.cart-item-quantity-container {
  display: flex;
  font-size: 20px;
  font-weight: 700;
align-items: center;
}

.cart-item-quantity-container p {
    margin: 0 5px;
}

.cart-item-right {
  padding: 10px 0;
  color: #0caf1d;
  font-size: 12px;
  font-weight: 200;

  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.cart-item-description{
    padding: 10px 0;
    color: #636363;
}

.cart-item-description h3{
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.cart-item-quantity-btn{
  color: #3483FA;  
  cursor: pointer;
}

