@import url("style.css");

.dsc-category {
  border-radius: 4px;
  padding: 10px;
  background: var(--dsc-color-bg-tertiary);
  color: var(--dsc-color-font-tertiary);
  margin-right: 10px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.dsc-category-container {
  display: flex;
}

.dsc-product-details-top {
  padding: 10px 20px 20px 20px;
}

.dsc-product-details-bottom h3 {
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--dsc-color-font-secondary);
  font-size: 24px;
}

.dsc-product-details-bottom h4 {
  color: var(--dsc-color-bg-tertiary);
  font-size: 14px;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.dsc-product-details-bottom p {
  color: var(--dsc-color-bg-tertiary);
  font-size: 12px;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 10px 0;
  text-align: justify;
}

.dsc-product-details-bottom {
  padding: 0 20px 20px 20px;
}

.dsc-product-details-top {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dsc-btn-green:hover {
  background-color: #005700;
}

.dsc-btn-white:hover {
  border: 1px solid  var(--dsc-color-bg-secondary);
  color:  var(--dsc-color-bg-secondary);;
}