@import url("style.css");

.dsc-category {
  border-radius: 4px;
  margin-right: 20px;
  padding:10px;
  margin-bottom: 10px;
  background: var(--dsc-color-bg-tertiary);
  color: var(--dsc-color-font-tertiary);
  font-weight: 700;
  font-size: 12px;
  font-family: var(--font-family);
  display: flex;
  text-align: center;
  justify-content: center;
}

.dsc-category-container {
  display: flex;
  flex-wrap: wrap;
}


/* ----------------------Product styles------------------------*/
.dsc-product-details-top {
  padding: 10px;
}

.dsc-product-details-bottom h3 {
  font-family: var(--font-family);
  color: var(--dsc-color-font-secondary);
  font-size: 24px;
}

.dsc-product-details-bottom h4 {
  color: var(--dsc-color-bg-tertiary);
  font-size: 14px;
  font-family: var(--font-family);
}

.dsc-product-details-bottom p {
  color: var(--dsc-color-bg-tertiary);
  font-size: 12px;
  font-family: var(--font-family);
  margin: 10px 0;
  text-align: justify;
}

.dsc-product-details-bottom {
  padding: 0 20px 20px 20px;
}

.dsc-product-details-top {
  display: flex;
  justify-content: center;
  padding: 10px;
}



/* ----------------------Button styles------------------------*/
.dsc-btn-green:hover {
  background-color: #005700;
}

.dsc-btn-white:hover {
  border: 1px solid var(--dsc-color-bg-secondary);
  color: var(--dsc-color-bg-secondary);
}
