@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap");

:root {
  --dsc-color-bg-primary: #e8e8e8;
  --dsc-color-bg-secondary: #ff0000;
  --dsc-color-bg-tertiary: #636363;

  --dsc-color-card-bg: #fff;
  --dsc-color-card-border: #d9d9d9;

  --dsc-color-btn-primary: #3483fa;
  --dsc-color-btn-inverse: #fff;

  --dsc-color-font-primary: #636363;
  --dsc-color-font-secondary: #0caf1d;
  --dsc-color-font-tertiary: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  color: var(--dsc-color-font-tertiary);
}

html,
body {
  background-color: var(--dsc-color-bg-primary);
}

header {
  background-color: var(--dsc-color-bg-secondary);
  height: 70px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a,
a:hover {
  text-decoration: none;
  color: var(--dsc-color-font-tertiary);
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
}

.card {
  background: var(--dsc-color-card-bg) ;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.line-bottom {
  border-bottom: 1px solid var(--dsc-color-card-border);
}

.mb20 {
  margin-bottom: 20px;
}

.btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-blue {
  background: var(--dsc-color-btn-primary);
  color: var(--dsc-color-btn-inverse);
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.btn-white {
  background: var(--dsc-color-btn-inverse);
  color: var(--dsc-color-btn-primary);
  border: 1px solid var(--dsc-color-btn-primary);
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.btn-page-container {
  width: 220px;
  display: grid;
  grid-gap: 20px;
}

